.booking-comp {
  border-radius: 16px;
  background-color: #d9d9d9;
  padding: 16px;
  margin: 8px 16px;
  box-sizing: border-box;
  width: calc(100% - 32px) !important;
}
.input {
  width: 100% !important;
}
.heading-section {
  border-top: 1px solid #3c9b05;
  border-bottom: 1px solid #3c9b05;
  padding: 8px 0px;
  display: flex;
  justify-content: space-evenly;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}
.font-16-lh-20 {
  font-size: 16px;
  line-height: 20px;
}
.font-white {
  color: #fff;
}
.action-container {
  padding: 16px 24px 0px 24px;
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__header {
  background-color: #3c9b05;
  color: white;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: white;
}
.react-datepicker__day-name {
  color: white;
}
.react-datepicker__day--keyboard-selected {
  background-color: #3c9b05;
  color: white;
}
.react-datepicker__navigation-icon--next::before {
  border-color: #fff;
}
.react-datepicker__navigation-icon::before {
  border-color: #fff;
}
.react-datepicker__navigation:hover *::before {
  border-color: #fff;
}
.suggestions {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 64px) !important;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

@media (min-width: 1240px) {
  .booking-comp {
    border-radius: 16px;
    background-color: #d9d9d9;
    padding: 16px;
    margin: 8px 16px;
    box-sizing: border-box;
    width: calc(100% - 1032px);
  }
}
