.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-container .input[type="date"] {
  width: 200px;
}
.input {
  border-radius: 12px;
  width: 100%;
  background-color: white;
  padding: 12px;
  border: 1px solid #3C9B05;
  font-size: 16px;
  line-height: 16px;
  height: 46px;
  width: inherit;
  color: #000000;
  box-sizing: border-box;
}
.input:focus {
  box-shadow: 0px 3px #3C9B05;
  caret-color: #000000;
}
::placeholder {
  color: #252020;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #252020;
}
::-ms-input-placeholder {
  color: #252020;
}