.vehicle-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
  padding: 12px 26px 20px 26px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fbf7f5;
  position: relative;
}
.vehicle-title {
  color: #000;
  margin-top: 13px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}

.vehicle-image {
  aspect-ratio: 186.54/117;
  max-width: 186.54px;
  width: 100%;
  max-height: 100%;
}
.seat-rate {
  width: calc(100% - 48px);
  display: flex;
  margin: 8px 24px;
  justify-content: space-between;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.26px;
}
.pill {
  position: absolute;
  top: 14px;
  left: 14px;
  background-color: #0f70e6;
  border-radius: 8px;
  padding: 4px 8px;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.22px;
}
